<h1>GeekInstagram</h1>
<h3>詳細</h3>
<div class="insta">
    <p><%= @insta.body %></p>
    <p><%= @insta.created_at %></p>
    <a href="/users/<%= @insta.user.id %>"><%= @insta.user.name %></a>
    <div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.email unless c.user.blank? %>
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@insta, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>
    <% if user_signed_in? %>
        <% if current_user.already_liked?(@insta) %>
            <%= link_to insta_like_path(@insta), method: :delete do %>
                <i class="fas fa-heart"></i><%= @insta.likes.count %>           
            <% end %>
        <% else %>
            <%= link_to insta_likes_path(@insta), method: :post do %>
                <i class="far fa-heart"></i><%= @insta.likes.count %>            
            <% end %>
        <% end %>
    <% else %>
        <i class="far fa-heart"></i><%= @insta.likes.count %>    
    <% end %>
</div>
<%= link_to "編集する", edit_insta_path(@insta.id) %>
<%= link_to "一覧に戻る", instas_path %>
