<!DOCTYPE html>
<html lang="ja">
  <body>
    <head>
    <meta charset="UTF-8">
    <title>:focus</title>
    <link rel="stylesheet" href="index.css">
    </head>
    <div class="login-container">
      <p class="login"><h2>Sign up</h2></p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <br />
        <br />
        <%= f.text_field :name, placeholder: "名前", autofocus: true %>
        <br />
        <br />
        <%= f.email_field :email, placeholder: "メール", autofocus: true, autocomplete: "email" %>
        <% if @minimum_password_length %>
          <%= @minimum_password_length %>
        <% end %><br /><br />
        <%= f.password_field :password, placeholder: "パスワード", autocomplete: "new-password" %>
        <br /><br /><p>※パスワードを確認のためもう一度入力してください。</p>
        <%= f.password_field :password_confirmation, placeholder: "パスワード", autocomplete: "new-password" %>
        <%= f.submit "Sign up" %>
      <% end %>
      <%= render "users/shared/links" %>
    </div>
  </body>
</html>
